html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    width: 1200px;
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    background-color: rgb(228, 228, 228);
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
    
}

.menu {
    width: 15%;
    
    background-color: rgb(6, 182, 36);
    padding: 30px 20px 0px;
}

.menu ul{

    list-style-type: none; 
    padding: 0;
    margin: 0;

}

.menu ul li{
    padding-bottom: 10px;
    text-align: center;
    justify-content:center
}
.menu ul li a{
    text-decoration: none;
    list-style-type:none;
    color: #f1f1f1;
    font-weight: bold;
    text-align: center;
    

}
.header {
    background-color: rgb(228, 228, 228);
    height: 150px;
    text-align: center; 

    
}

.img-alterada{
    width: 100px;
    padding-top: 10px;
   
}
.content {
    background-color: white;
    height: 80%;
    padding: 0px;
}

.quemsomos{
    padding: 20px;
    text-align: center;
}

.quemsomos h1{
    color: rgb(6, 182, 36);
    font-weight: bold;
    padding-bottom: 50px;
}

.quemsomos p{
    padding-bottom: 10px;
    text-align: justify;
}

.horario{
    padding: 20px;
    text-align: center;
    color: rgb(6, 182, 36);
    font-weight: bold;
    padding-bottom: 50px;
}

.contato{

    text-align: center;
}

.contato h1{
    color: rgb(6, 182, 36);
    font-weight: bold;
    padding-bottom: 10px;
}

.mapa{
    width: 100%;
    height: 250px;
}

table {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
  th {
    background-color: #f2f2f2;
}
.formulario{

    text-align: center;
    
    
}

.formulario div{
    display: flex;
    justify-content: center;
}
.formulario h2{
    color: rgb(6, 182, 36);
    font-weight: bold;
    padding-bottom: 10px;
}
.formulario form{
    width:100%;
    text-align: center;
    justify-content: center;
}
.formulario form label{
    width: 50px;
    text-align: left;
    margin-right: 50px;
}
.formulario form input{
    width: 300px;
    text-align: center;
    padding-left: 20px;
}

.formulario button{
    background: rgb(19, 179, 27);
    border: none;
    padding: 15px;
    width: 100px;
    margin: 10px;
    align-items: center;
}

  
.banner{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.footer {
    bottom: 0;
    padding: 20px;
    margin: 0px;
    text-align: center;
    font-weight: lighter;
    color:rgb(6, 182, 36) ;
    background-color: rgb(228, 228, 228);;
    height: 150px;
    
}